<html>
    <body>
        <form action="/" method="POST">

            <!-- gets user input -->
            <input type="text" name="title"> 
            <input type="submit" value="Add">

        </form>
        <h1>Books</h1>

        <!-- outputs the books using a jinja 'for' loop -->
        {% for book in books %}
            <p>{{book.title}}</p>

            <form method="POST" action="./update">
                <input type="hidden" value="{{book.title}}" name="oldtitle">
                <input type="text" name="newtitle">
                <input type="submit" value="Update">
            </form>

            <form method="POST" action="./delete">
                <input type="hidden" value="{{book.title}}" name="title">
                <input type="submit" value="Delete">
            </form>

        {% endfor %}

    </body>
</html>